doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(
      name="viewport",
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    )
    meta(name="description", content="Resume")
    meta(name="author", content="Pierre ESTRABAUD")

    title Resume - Pierre E.

    link(rel="icon", type="image/x-icon", href="assets/img/favicon.ico")

    // Font Awesome icons (free version)
    script(
      src="https://use.fontawesome.com/releases/v5.15.1/js/all.js",
      crossorigin="anonymous"
    )

    // Google fonts
    link(
      href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700",
      rel="stylesheet",
      type="text/css"
    )
    link(
      href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i",
      rel="stylesheet",
      type="text/css"
    )

    // Core theme CSS (includes Bootstrap)
    link(href="css/styles.css", rel="stylesheet")

  body#page-top
    // Navigation
    nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
      a.navbar-brand.js-scroll-trigger(href="#page-top")
        span.d-block.d-lg-none Pierre Estrabaud
        span.d-none.d-lg-block
          img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(
            src="assets/img/profile.jpg",
            alt=""
          )
      button.navbar-toggler(
        type="button",
        data-toggle="collapse",
        data-target="#navbarSupportedContent",
        aria-controls="navbarSupportedContent",
        aria-expanded="false",
        aria-label="Toggle navigation"
      )
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav
          li.nav-item
            a.nav-link.js-scroll-trigger(href="#about") About
          li.nav-item
            a.nav-link.js-scroll-trigger(href="#experience") Experience
          li.nav-item
            a.nav-link.js-scroll-trigger(href="#skills") Skills
          li.nav-item
            a.nav-link.js-scroll-trigger(href="#portfolio") Portfolio
          li.nav-item
            a.nav-link.js-scroll-trigger(href="#education") Education
          li.nav-item
            a.nav-link.js-scroll-trigger(href="#awards") Awards
          li.nav-item
            a.nav-link.js-scroll-trigger(href="#interests") Interests

    // Page Content
    .container-fluid.p-0
      // About
      section#about.resume-section
        .resume-section-content
          h1.mb-0
            | Pierre
            span.text-primary Estrabaud
          .subheading.mb-5
            | Smart Contracts Developer · Blockchain Engineer · Security Researcher ·
            a(href="mailto:name@email.com") pierre.estrabaud@protonmail.com

          p.lead.mb-3
            |
            | With a rich 7-year journey in the crypto industry and a 4 years dedicated to developing decentralized
            | applications (dApps) on EVM networks, bring a comprehensive understanding of Ethereum ecosystem technologies,
            | Web3 application development, and smart contract security. My expertise extends to crafting
            | robust smart contracts using Solidity, identifying and mitigating common attack
            | vectors, and optimizing gas costs to enhance efficiency and security. In addition,
            | my background in Next.js and React.js enables me to integrate complex smart
            | contract functionalities with intuitive and engaging user interfaces.
          p.lead.mb-5
            | Ready to drive innovation in smart contract development and full-stack blockchain engineering ?
            | I am your go-to expert for cutting-edge dApp solutions.

          .social-icons.lead.mb-5
            a.social-icon(href="https://www.linkedin.com/in/pierre-e/")
              i.fab.fa-linkedin-in
            a.social-icon(href="https://github.com/Pedrojok01")
              i.fab.fa-github
            a.social-icon(href="https://tm.me/Pedrojok")
              i.fab.fa-telegram
            a.social-icon(href="https://blog.pedrojok.com")
              i.fa.fa-globe

          p
            | Want to know more about Solidity, web3 security and catch the flag (CTF) challenges?
          h3.lead.mb-3
            | Check out my blog:
            a(href="https://blog.pedrojok.com") Web3 Security

      hr.m-0

      // Experience
      section#experience.resume-section
        .resume-section-content
          h2.mb-5 Experience

          .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
            .flex-grow-1
              h3.mb-0 Smart Contracts Auditor Intern
              .subheading.mb-3 Nethermind - Remote
              p
                | <a href="https://www.nethermind.io/">https://www.nethermind.io/</a>
              p
                | • Conduct thorough audits of Solidity (EVM) and Cairo code bases to identify and
                | mitigate security vulnerabilities in smart contracts.
              p
                | • Review and analyze audit findings to ensure the reliability and safety of blockchain applications.

            .flex-shrink-0
              span.text-primary April 2024 - Present

          .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
            .flex-grow-1
              h3.mb-0 Lead Blockchain Developer
              .subheading.mb-3 Meed (formerly SuperUltra) - Remote
              p
                | <a href="https://www.meedloyalty.com/">https://www.meedloyalty.com/</a>
              p
                | • Engineered and developed 5 blockchain-based solutions (DApps), from smart contracts to
                | back-end and front-end integration across 4 EVM networks, including Ethereum, Polygon, BSC, and Cronos.
              p
                | • Collaborated remotely with a team of 5-10 people in a dynamic startup environment, leveraging agile methodologies.
              p
                | • Provided strategic guidance to clients on the development of Web3 products and games, ensuring solid
                | blockchain integration for improved functionality and user engagement.

            .flex-shrink-0
              span.text-primary January 2022 - Novembre 2023

          .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
            .flex-grow-1
              h3.mb-0 Cryptocurrency Miner
              .subheading.mb-3 Self-employed - Thailand
              p
                | Set up and monitored a cryptocurrency mining farm of multiple ASIC miners running on 3 different
                | algorithms and a self-built 6xGPU rig (Ethash), applying optimization techniques like bios flashing,
                | overclocking, and undervolting to maximize efficiency and profitability.
            .flex-shrink-0
              span.text-primary October 2017 - July 2022

          .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
            .flex-grow-1
              h3.mb-0 Blockchain Developer
              .subheading.mb-3 Freelance
              p
                | • Developed and deployed smart contracts for multiple DApps, with a focus on enhancing user
                | experience by creating intuitive front-ends.
              p
                | • Committed to continuous learning by staying updated on the latest developments in the Ethereum
                | ecosystem, Solidity best practices, and Web3 technologies.
            .flex-shrink-0
              span.text-primary July 2020 - December 2021

          .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
            .flex-grow-1
              h3.mb-0 Translator Crypto and IT | English to French
              .subheading.mb-3 Freelance
              p
                | Clients: <a href="https://phemex.com">Phemex</a>, <a href="https://paybis.com/">Paybis</a>, Microsoft Azure
              p
                | • Translated over 30 technical white papers during the ICO boom in 2017/2018.
              p
                | • Demonstrated expertise in technical fields and industry-specific terminology,
                | and managed to convey complex technical information to a non-technical
                | audience.
              p
                | • Delivered 100% of projects within tight deadlines through effective scheduling.
            .flex-shrink-0
              span.text-primary August 2017 - June 2021

          .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
            .flex-grow-1
              h3.mb-0 Internet Cafe Manager
              .subheading.mb-3 Owner - Bangkok
              p
                | • Built, optimized, and maintained 20 computers, including the main server.
              p
                | • Developed, supervised, and secured the whole network infrastructure.
              p
                | • Managed the accounting and financial aspects of the operation.
            .flex-shrink-0
              span.text-primary January 2011 - June 2012

          .d-flex.flex-column.flex-md-row.justify-content-between
            .flex-grow-1
              h3.mb-0 Help Desk and Technical Support Hotliner
              .subheading.mb-3 Système U - Montpellier
              p
                | <a href="https://www.magasins-u.com/">https://www.magasins-u.com/</a>
              p
                | Provided technical support to over 1,500 supermarkets, managing SQL database updates and resolving
                | a broad range of IT issues, underscoring my problem-solving skills and customer service orientation.
            .flex-shrink-0
              span.text-primary July 2007 - March 2008

      hr.m-0

      // Skills
      section#skills.resume-section
        .resume-section-content
          h2.mb-5 Skills
          .subheading.mb-3 Programming Languages & Tools
          ul.list-inline.dev-icons
            li.list-inline-item
              i.fab.fa-ethereum
            li.list-inline-item
              i.fab.fa-bitcoin
            li.list-inline-item
              i.fab.fa-html5
            li.list-inline-item
              i.fab.fa-css3-alt
            li.list-inline-item
              i.fab.fa-js-square
            li.list-inline-item
              i.fab.fa-react
            li.list-inline-item
              i.fab.fa-node-js
            li.list-inline-item
              i.fab.fa-npm
            li.list-inline-item
              i.fab.fa-git
            li.list-inline-item
              i.fab.fa-aws
            li.list-inline-item
              i.fab.fa-github
          .subheading.mb-3 Workflow
          ul.fa-ul.mb-0
            li
              span.fa-li
                i.fas.fa-check
              | Programming Languages - Solidity, Javascript, TypeScript, Node.js, HTML, CSS
            li
              span.fa-li
                i.fas.fa-check
              | Blockchain Development - Foundry, Hardhat, Slither, Aderyn, OpenZeppelin, Chainlink
            li
              span.fa-li
                i.fas.fa-check
              | Front-end Development - React.js, Next.js, React Native
            li
              span.fa-li
                i.fas.fa-check
              | Back-end Development - REST APIs, Express.js, Nestjs, MongoDB
            li
              span.fa-li
                i.fas.fa-check
              | Web3 Technologies - Ethers.js, Viem, Wagmi, Web3.js, IPFS
            li
              span.fa-li
                i.fas.fa-check
              | DevOps and CI/CD - Git, Github, AWS, Vercel, Netlify
          .subheading.mt-4.mb-3 Spoken Languages
          ul.fa-ul.mb-0
            li
              span.fa-li
                i.fas.fa-check
              | French - Native
            li
              span.fa-li
                i.fas.fa-check
              | English - Very Fluent
            li
              span.fa-li
                i.fas.fa-check
              | Thai - Intermediate

      hr.m-0

      // Portfolio
      section#portfolio.resume-section
        .resume-section-content
          h2.mb-5 Portfolio & Open Source

          .row.mb-4
            .col-md-6
              h3.mb-0 Fury Racing
              p Foundry, Solidity, Chainlink, Next.js, TypeScript, Nodejs, Lambda
              a(href="https://fury-racing.vercel.app/", target="_blank")
                img.mb-2.img-thumbnail(
                  src="assets/img/fury.webp",
                  alt="Fury Racing website Thumbnail"
                )
              p GitHub: <a href="https://github.com/Pedrojok01/fury-racing">https://github.com/Pedrojok01/fury-racing</a>
            .col-md-6
              h3.mb-0 Web3 Boilerplate
              p Next.js, TypeScript, @web3-react^8, Antd
              a(href="https://web3-boilerplate.netlify.app", target="_blank")
                img.mb-2.img-thumbnail(
                  src="assets/img/web3_boilerplate.webp",
                  alt="Web3Boilerplate website Thumbnail"
                )
              p GitHub: <a href="https://github.com/Pedrojok01/Web3-Boilerplate">https://github.com/Pedrojok01/Web3-Boilerplate</a>

          .row.mb-4
            .col-md-6
              h3.mb-0 PackMyNFT
              p Foundry, Next.js, TypeScript, Wagmi, Viem, @chakra-ui
              a(href="https://packmynft.com/", target="_blank")
                img.mb-2.img-thumbnail(
                  src="assets/img/packmynft.webp",
                  alt="PackMyNFT website Thumbnail"
                )
              p GitHub: <a href="https://github.com/Pedrojok01/PackMyNFT">https://github.com/Pedrojok01/PackMyNFT</a>
            .col-md-6
              h3.mb-0 Personal Travel Blog
              p Next.js, TypeScript, Antd, AWS S3
              a(href="https://www.voyageboost.com/", target="_blank")
                img.mb-2.img-thumbnail(
                  src="assets/img/voyageboost.webp",
                  alt="Voyageboost.com website Thumbnail"
                )
          .row.mb-4
            .col-md-6
              h3.mb-0 MoveMyNFT
              p Hardhat, Next.js, TypeScript, Wagmi, Viem, Antd
              a(href="https://movemynft.com/", target="_blank")
                img.mb-2.img-thumbnail(
                  src="assets/img/movemynft.webp",
                  alt="MoveMyNFT website Thumbnail"
                )
              p GitHub: <a href="https://github.com/Pedrojok01/MoveMyNFT">https://github.com/Pedrojok01/MoveMyNFT</a>
            .col-md-6
              h3.mb-0 CryptoCats
              p Hardhat, Next.js, TypeScript, Wagmi, @chakra-ui
              a(href="https://crypto-cats.netlify.app/", target="_blank")
                img.mb-2.img-thumbnail(
                  src="assets/img/cryptocats.webp",
                  alt="CryptoCats website Thumbnail"
                )
              p GitHub: <a href="https://github.com/Pedrojok01/CryptoCats">https://github.com/Pedrojok01/CryptoCats</a>

          .row
            .col-md-6
              h3.mb-0 CoinFlip
              p Hardhat, Chainlink VRF 2.5, React.js, @web3-react^8, @emotion
              a(
                href="https://coinflip-double-up-your-eth.netlify.app/",
                target="_blank"
              )
                img.mb-2.img-thumbnail(
                  src="assets/img/coinflip.webp",
                  alt="Coinflip website Thumbnail"
                )
              p GitHub: <a href="https://github.com/Pedrojok01/CoinFlip_2.0">https://github.com/Pedrojok01/CoinFlip_2.0</a>

      hr.m-0

      // Education
      section#education.resume-section
        .resume-section-content
          h2.mb-5 Education

          .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
            .flex-grow-1
              h3.mb-0 Moralis Academy
              .subheading.mb-3 Blockchain, DeFi and Smart-Contract Programming
            .flex-shrink-0
              span.text-primary September 2020 - October 2021

          .d-flex.flex-column.flex-md-row.justify-content-between
            .flex-grow-1
              h3.mb-0 Paul Valery University
              .subheading.mb-3 Bachelor of Art in Economics
            .flex-shrink-0
              span.text-primary September 2004 - June 2007

      hr.m-0

      // Awards
      section#awards.resume-section
        .resume-section-content
          h2.mb-5 Awards & Certifications

          .subheading.mb-3 Hackathons
          ul.fa-ul.mb-0
            li
              span.fa-li
                i.fas.fa-trophy.text-warning
              | 1
              sup st
              | Place - <a href="https://blog.chain.link/block-magic-winners/#gaming_&_consumer_apps_($15_000)">Chainlink Block Magic Hackathon</a> - May 2024
            li.mb-3
              span.fa-li
                i.fas.fa-trophy.text-warning
              | 2
              sup nd
              | Place - <a href="https://moralis.io/cronos-hackathon/">Moralis x Cronos Hackathon</a> - September 2022

          .subheading.mb-3 Certifications
          ul.fa-ul.mb-0
            li
              span.fa-li
                i.fas.fa-trophy.text-warning
              | Ethereum Dapp Programming - <a href="https://academy.moralis.io/">Moralis Academy</a> 2021
            li
              span.fa-li
                i.fas.fa-trophy.text-warning
              | DeFi 201 - Ivan on Tech Blockchain Academy 2021
            li
              span.fa-li
                i.fas.fa-trophy.text-warning
              | Ethereum Smart-Contract Security - Ivan on Tech Blockchain Academy 2021
            li
              span.fa-li
                i.fas.fa-trophy.text-warning
              | Ethereum Smart-Contract Programming 201 - Ivan on Tech Blockchain Academy 2021
            li
              span.fa-li
                i.fas.fa-trophy.text-warning
              | Ethereum Smart-Contract Programming 101 - Ivan on Tech Blockchain Academy 2021
            li
              span.fa-li
                i.fas.fa-trophy.text-warning
              | React Web Development 101 - Ivan on Tech Blockchain Academy 2021
            li
              span.fa-li
                i.fas.fa-trophy.text-warning
              | JavaScript Programming - Ivan on Tech Blockchain Academy 2020
            li
              span.fa-li
                i.fas.fa-trophy.text-warning
              | DeFi 101 - Ivan on Tech Blockchain Academy 2020
            li
              span.fa-li
                i.fas.fa-trophy.text-warning
              | Bitcoin Attacks - Ivan on Tech Blockchain Academy 2020

      hr.m-0

      // Interests
      section#interests.resume-section
        .resume-section-content
          h2.mb-5 Interests
          p
            | Apart from blockchain development and crypto, I have been traveling a lot around the world, from
            | playing poker in Vegas, diving in Thailand, skydiving in New Zealand, climbing over
            | 6,000 m in Ladakh in Northern India, and going over the polar circle in Norway. I eventually
            | settled in Thailand's countryside, where I enjoy a quiet life with my wife and kids.
          p
            | Here is my website relating most of my adventures:
            | <a href="https://www.voyageboost.com">https://www.voyageboost.com</a>
          p.mb-0
            | Most of my time is now spent following and contributing to the crypto world as I believe that it will be
            | a game changer in many areas in the coming years.

    // Bootstrap core JS
    script(
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
    )
    script(
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
    )

    // Third party plugin JS
    script(
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"
    )

    // Core theme JS
    script(src="js/scripts.js")
